@use 'sass:math';


// COLORS
$salmon: #F55A5A;
$white: #FFFFFF;

// FONTS
$font-size-small: 11px;
$font-size-medium: 16px;

//* Function: rem()
//* DESCRIPTION: px -> rem conversion
@function rem($px, $base: 16px) {
  @return math.div($px, $base) * 1rem;
}

